@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #ffd700, #ff8c00, #ff00ff, #4b0082, #50a3a2);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Membuat latar belakang container agak buram/keputihan */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 600px; /* Batas maksimal lebar container */
}

.profile-pic img {
    width: 150px; /* Lebar gambar */
    height: 150px; /* Tinggi gambar */
    border-radius: 50%; /* Membuat gambar menjadi lingkaran */
    object-fit: cover; /* Mengatur gambar agar menutupi area tanpa distorsi */
    margin-bottom: 20px;
}

.status, .info p, .footer {
    margin: 10px 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    margin: 10px 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.footer {
    color: #ff4757;
    margin-top: 30px;
}

.social-links a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}

.social-links a:hover {
    text-decoration: underline;
}
